@import "mixins";

button {
    font-size: 1em;
    padding: 0.6em 0.9em;
    margin: 0.2em;
    border-radius: 1em;
    text-shadow: none;
}

.calculator-portlet input[type="text"].calculator-display {
    font-size: 1.3em;
    padding: 0.5em;
    text-align: right;
    width: 91%;
    height: 16px;
}

.calculator-portlet .calculator-memory {
	font-size: 0.8em;
	padding: 0.5em 0.3em;
	line-height: 10px;
}

.calculator-portlet .calculator-buttons {
	border: 1px #CCC solid;
	width: 86%;
	padding: 1em 0em 1em 12%;
	margin-top: 1em;
	border-radius: 0.6em;

}

.calculator-portlet .calculator-buttons button {
    margin: 0 7px 5px 0;
    border-radius: 20px;
    @include respond-to(phone, tablet)  {
        display: inline-block;
        width: auto;
    }
}

.calculator-portlet .calculator-numbers {
    float: left;
    width: 76%;
}

.memory-btns{
	display: inline-block;
	width: 100%
}

.calculator-portlet .calculator-numbers button.btn-primary {
    padding: 12px 12px;
    padding: 12px 12px;
    line-height: 8px;
    width: 35px;  
}

.calculator-portlet .calculator-operations {
	float: right;
	width: 24%;
}

.calculator-portlet .calculator-operations button.btn {
    line-height: 10px;
    margin-bottom: 8px;
}

.calculator-portlet .calculator-operations .op-buttons {
	padding: 0.5em 0.6em;
	font-size: 0.8em;
}

.calculator-portlet .equals-operator {
 	padding: 2em 0.6em;
 	font-size: 0.8em;
}

.portlet-body .calculator-portlet {
	border: solid 1px #AAA;
	padding: 1em;
	width: 210px;
	border-radius: 1em;
	background: rgba(0, 0, 0, 0.05);
	margin: 0 auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}